.foot{
    padding: 20px 10px 20px 10px;
    margin: 0 10px 10px 10px;
    border-radius: 7px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b5ead7;
}

.form{
    display:flex;
    align-items: center;
    width: 100%;
}

.inp{
    flex: 1;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
    border: 1px solid #dcdcdc;
    padding: 20px;
    transition: border-color 0.2 ease-in-out;
    margin: 5px;
    font-family: "karla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.inp:focus{
    border-color: #a0e7e5;
    outline: none;
}

.submmit{
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bolder;
    font-size: larger;
    color: white;
    background-color: #00796b;
    border: none;
    line-height: 40px;
    margin: 5px;
}